<section class="products section">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="widget">
                    <h4 class="widget-title">Sort By</h4>
                </div>

                <div id="accordion">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5>
                                <a href="" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                    aria-controls="collapseOne">
                                    Shirts
                                </a>
                            </h5>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                            data-parent="#accordion">
                            <div class="card-body">
                                <ul class="list-unstyled">
                                    <li><a href="">T-Shirts</a></li>
                                    <li><a href="">Polos</a></li>
                                    <li><a href="">Longsleeve</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5>
                                <a href="" class="collapsed" data-toggle="collapse" data-target="#collapseTwo"
                                    aria-expanded="true" aria-controls="collapseTwo">
                                    Jeans
                                </a>
                            </h5>
                        </div>

                        <div id="collapseTwo" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                <ul class="list-unstyled">
                                    <li><a href="">Slim</a></li>
                                    <li><a href="">Boot</a></li>
                                    <li><a href="">Straight</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5>
                                <a href="" class="collapsed" data-toggle="collapse" data-target="#collapseThree"
                                    aria-expanded="true" aria-controls="collapseThree">
                                    Pants
                                </a>
                            </h5>
                        </div>

                        <div id="collapseThree" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                <ul class="list-unstyled">
                                    <li><a href="">Dress</a></li>
                                    <li><a href="">Pleated</a></li>
                                    <li><a href="">Cargo</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-4">
                        <div class="product-item">
                            <div class="product-thumb">
                                <span class="bage">Sale</span>
                                <img class="img-responsive" src="images/product-1.jpg" alt="product-img">
                                <div class="preview-meta">
                                    <ul>
                                        <li>
                                            <a href="product-single.html"><i class="fa fa-search"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-heart-o"></i></a>
                                        </li>
                                        <li>
                                            <a href=""><i class="fa fa-shopping-cart"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-content">
                                <h4><a href="product-single.html">Reef Boardsport</a></h4>
                                <p class="price">$200</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="product-item">
                            <div class="product-thumb">
                                <img class="img-responsive" src="images/product-2.jpg" alt="product-img">
                                <div class="preview-meta">
                                    <ul>
                                        <li>
                                            <a href="product-single.html"><i class="fa fa-search"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-heart-o"></i></a>
                                        </li>
                                        <li>
                                            <a href=""><i class="fa fa-shopping-cart"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-content">
                                <h4><a href="product-single.html">Rainbow Shoes</a></h4>
                                <p class="price">$200</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="product-item">
                            <div class="product-thumb">
                                <img class="img-responsive" src="images/product-3.jpg" alt="product-img">
                                <div class="preview-meta">
                                    <ul>
                                        <li>
                                            <a href="product-single.html"><i class="fa fa-search"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-heart-o"></i></a>
                                        </li>
                                        <li>
                                            <a href=""><i class="fa fa-shopping-cart"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-content">
                                <h4><a href="product-single.html">Rainbow Shoes</a></h4>
                                <p class="price">$200</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="product-item">
                            <div class="product-thumb">
                                <img class="img-responsive" src="images/product-4.jpg" alt="product-img">
                                <div class="preview-meta">
                                    <ul>
                                        <li>
                                            <a href="product-single.html"><i class="fa fa-search"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-heart-o"></i></a>
                                        </li>
                                        <li>
                                            <a href=""><i class="fa fa-shopping-cart"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-content">
                                <h4><a href="product-single.html">Rainbow Shoes</a></h4>
                                <p class="price">$200</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="product-item">
                            <div class="product-thumb">
                                <span class="bage">Sale</span>
                                <img class="img-responsive" src="images/product-5.jpg" alt="product-img">
                                <div class="preview-meta">
                                    <ul>
                                        <li>
                                            <a href="product-single.html"><i class="fa fa-search"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-heart-o"></i></a>
                                        </li>
                                        <li>
                                            <a href=""><i class="fa fa-shopping-cart"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-content">
                                <h4><a href="product-single.html">Rainbow Shoes</a></h4>
                                <p class="price">$200</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="product-item">
                            <div class="product-thumb">
                                <img class="img-responsive" src="images/product-6.jpg" alt="product-img">
                                <div class="preview-meta">
                                    <ul>
                                        <li>
                                            <a href="product-single.html"><i class="fa fa-search"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-heart-o"></i></a>
                                        </li>
                                        <li>
                                            <a href=""><i class="fa fa-shopping-cart"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-content">
                                <h4><a href="product-single.html">Rainbow Shoes</a></h4>
                                <p class="price">$200</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="product-item">
                            <div class="product-thumb">
                                <img class="img-responsive" src="images/product-7.jpg" alt="product-img">
                                <div class="preview-meta">
                                    <ul>
                                        <li>
                                            <a href="product-single.html"><i class="fa fa-search"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-heart-o"></i></a>
                                        </li>
                                        <li>
                                            <a href=""><i class="fa fa-shopping-cart"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-content">
                                <h4><a href="product-single.html">Rainbow Shoes</a></h4>
                                <p class="price">$200</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="product-item">
                            <div class="product-thumb">
                                <img class="img-responsive" src="images/product-8.jpg" alt="product-img">
                                <div class="preview-meta">
                                    <ul>
                                        <li>
                                            <a href="product-single.html"><i class="fa fa-search"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-heart-o"></i></a>
                                        </li>
                                        <li>
                                            <a href=""><i class="fa fa-shopping-cart"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-content">
                                <h4><a href="product-single.html">Rainbow Shoes</a></h4>
                                <p class="price">$200</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="product-item">
                            <div class="product-thumb">
                                <img class="img-responsive" src="images/product-9.jpg" alt="product-img">
                                <div class="preview-meta">
                                    <ul>
                                        <li>
                                            <a href="product-single.html"><i class="fa fa-search"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-heart-o"></i></a>
                                        </li>
                                        <li>
                                            <a href=""><i class="fa fa-shopping-cart"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-content">
                                <h4><a href="product-single.html">Rainbow Shoes</a></h4>
                                <p class="price">$200</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>