<section class="products section bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title text-center">
                    <h2>Trending Products</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="product-item">
                        <div class="product-thumb">
                            <span class="bage">Sale</span>
                            <img class="img-responsive" src="images/product-1.jpg" alt="product-img">
                            <div class="preview-meta">
                                <ul>
                                    <li>
                                        <a href="product-single.html"><i class="fa fa-search"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-heart-o"></i></a>
                                    </li>
                                    <li>
                                        <a href=""><i class="fa fa-shopping-cart"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="product-content">
                            <h4><a href="product-single.html">Reef Boardsport</a></h4>
                            <p class="price">$200</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="product-item">
                        <div class="product-thumb">
                            <span class="bage">Sale</span>
                            <img class="img-responsive" src="images/product-1.jpg" alt="product-img">
                            <div class="preview-meta">
                                <ul>
                                    <li>
                                        <a href="product-single.html"><i class="fa fa-search"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-heart-o"></i></a>
                                    </li>
                                    <li>
                                        <a href=""><i class="fa fa-shopping-cart"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="product-content">
                            <h4><a href="product-single.html">Reef Boardsport</a></h4>
                            <p class="price">$200</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% schema %}
{% endschema %}